.contentDiv {
    height: 60%;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to bottom right, white, darkgrey, lightgrey, white, white, white);
    margin-left: 20%;
}

.main {
    max-width: 1500px;
}

