.contentDiv {
    height: 90%;
    width: 75%;
    position: absolute;
    background-image: linear-gradient(to bottom right, white, darkgrey, lightgrey, white, white, white);
    margin-left: 13%;
}

.main {
    max-width: 1500px;
}

.svg {
    width: 120%;
    overflow: hidden;
}