.contentDiv {
    height: 75%;
    width: 60%;
    position: absolute;
    background-image: linear-gradient(to bottom right, white, darkgrey, lightgrey, white, white, white);
    margin-left: 13%;
}
