<div class="main-searc">
  <form [formGroup]="searchForm">
    <div class="title">Low Budget Airline</div>


    <div class="first_row">
      <mat-form-field appearance="outline" class="first_element">
        <mat-label>Origin</mat-label>
        <input matInput formControlName="origin">
      </mat-form-field>

      <mat-form-field appearance="outline" class="second_element">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination">
      </mat-form-field>
    </div>

    <div class="second_row">
      <mat-form-field appearance="outline" class="first_element">
        <input matInput [matDatepicker]="picker" placeholder="Departure" formControlName="departure">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="second_element">
        <input matInput [matDatepicker]="picker2" placeholder="Return" formControlName="return" [min]="searchForm.controls.departure.value">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </div>
    <div class="end">
      <button (click)="searchAll()">Search</button>
    </div>

  </form>
</div>
